:root {
    --bright-yellow: hsl(71, 73%, 54%);
    --cyan:hsl(179, 62%, 43%);
    --grayish-blue: hsl(218, 22%, 67%);
    --light-gray: hsl(204, 43%, 93%);
}

body {
    background-color: var(--light-gray);
}

h3 {
    color: var(--light-gray)
}

p {
    color: white;
    font-size: 16px;
    line-height: 1.7;
}

h5 {
    color: pink;
}

h5 span {
    color: var(--light-gray);
    font-size: 30px;
}


.card {
    padding: 18px 42px;
}
.cards {
    display: flex;
    height: 250px;
}

.card-community {
    background-color: white;
    border-radius: 7px 7px 0px 0px;
}

.card-sub {
    background-color: var(--cyan);
    border-radius: 0px 0px 0px 7px;
    width: 50%;
}

.card-why {
    background-color: hsl(179, 71%, 46%);
    border-radius: 0px 0px 7px 0px;
    width: 50%;
}

.button {
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 14px 95px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    margin: 4em 29%;
    overflow: hidden;
    width: 50%; 
}

.paragraph-community {
    color: var(--cyan);
    font-size: 17px;
}

.paragraph-sub {
    margin-top: 10px;
}

.paragraph-why {
    color: wheat;
    font-size: 15px;
    line-height: 1.4;
}

.section-sub {
    margin-bottom: 10px;
    margin-top: 10px;
}

.title-community {
    color: var(--cyan);
}

.title-community-h3 {
    color: var(--bright-yellow);
    margin-top: 30px;
}