:root {
    --bright-yellow: hsl(71, 73%, 54%);
    --cyan:hsl(179, 62%, 43%);
    --grayish-blue: hsl(218, 22%, 67%);
    --light-gray: hsl(204, 43%, 93%);
}

body {
    align-items: center;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

@media (max-width: 768){
    body {
        overflow: scroll;
        height: 1440px;
    }
}

h3 {
    color: var(--light-gray)
}

p {
    color: white;
    font-size: 16px;
    line-height: 1.7;
}

ul {
    list-style: none;
    padding: 0;
    opacity: 0.7;
}

ul li {
    line-height: 22px;
}
.button {
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 16px 90px;
    width: 100%;
}

@media (max-width: 768){
    .button {
        width: 100%;
    }
}

.card {
    padding: 18px 42px;
}

.cards {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768){
    .cards {
        display: flex;
        flex-direction: column;
        width: 768;
    }
}

.card-community {
    background-color: white;
}

.card-sub {
    background-color: var(--cyan);
    width: 50%;
}

@media (max-width: 768){
    .card-sub {
        border-radius: 0px;
        
    }
}

.card-why {
    background-color: hsl(179, 71%, 46%);
    width: 50%;
}

@media (max-width: 768){
    .card-why {
        border-radius: 0px 7px;
    }
}

.container {
    border-radius: 10px; 
    font-family: 'Karla', sans-serif;
    margin: auto;
    overflow: hidden;
    width: 50%;
}

@media (max-width: 768){
    .container {
        display: flex;
        flex-direction: column;
        height: 65%;
    }
}

.paragraph-community {
    color: var(--cyan);
    font-size: 17px;
    margin-top: 10px;
}

.paragraph-sub {
    margin-bottom: 25px;
    margin-top: 0;
}

.paragraph-why {
    color: rgb(243, 240, 232);
    font-size: 15px;
    line-height: 1;
}

.section-sub {
    display: flex;
    align-items: center;
    color: hsl(179, 45%, 77%);
    opacity: 0.7;
    margin: 0;
}

.section-sub span {
    color: white;
    font-size: 35px;
    margin-right: 10px;
    opacity: 1;
}

.title-community {
    color: var(--cyan);
}

.title-community-h3 {
    color: var(--bright-yellow);
    margin-top: 30px;
    margin-bottom: 10px;
}

.title-sub {
    margin-bottom: 10px;
}